.firstyearlist-mainbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-image: url(../zimages/galoschoolimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.firstyearlist-sidebar {
    width: 220px;
    background-color: #0342B2;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
}

.firstyearlist-logo {
    display: flex;
    align-items: center;
    padding: 10%;
}
.firstyearlist-seamslogo{
    width: 30px;
    height: 30px;
    background-image: url(../zimages/seamslogo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstyearlist-seams-txt{
    font-size: 20px;
    margin-left: 10px;
}

.firstyearlist-adminbox{
    width: 100%;
    padding: 2% 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #00C2FF   ;
}
.firstyearlist-adminimage{
    background-image: url(../zimages/useradmin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 16%;
}
.firstyearlist-adminNameH2{
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    margin-left: 3%;
}

.firstyearlist-menu {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}

.firstyearlist-menu button {
     /* border: 1px solid #CCC; */
    /* box-shadow: white;  */
    background-color: #0342B2;
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    color: #fff;
    padding: 10px 16%;
    text-align: left;
    width: 100%;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.firstyearlist-menu button:hover {
    background-color: #1461e6;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
}

.firstyearlist-exitimg{
    width: 14px;
    height: 14px;
    background-image: url(../zimages/exitimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstyearlist-exit {
    border-top: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    width: 100%;
    transition: background-color 0.3s ease;
}

.firstyearlist-exit button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;

}

.firstyearlist-exit:hover {
    background-color: #00C2FF;
}
/* ----------------------------left contnt----------------------- */
.firstyearlist-leftcont-box{
    margin-left: 220px;
    padding: 10px 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../zimages/galoschoolimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.firstyearlist-logoboxlcc{
    width: 100%;
    height: 50px;
    background-color: transparent;
    
} 
.firstyearlist-lccBlogo{
    width: 50px;
    height: 50px;
    background-image: url(../zimages/lccblogoorg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}
.firstyearlist-backevent-btnbox{
    margin-top: 2%;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.firstyearlist-order1{
    background-color: transparent ;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}
.firstyearlist-arrowimg{
    width: 20px;
    height: 20px;
    background-color: #0342B2;
    border-radius: 50px;
    background-image: url(../zimages/arrowbtn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
}
.firstyearlist-backevent-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    border: none;
    background-color: transparent;
    padding-left: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.firstyearlist-backbtnh4{
    font-size: 10px;
    font-weight: normal;
    color: #B3B3B3;
    margin-top: 3px;
    margin-left: 2%;
}
.firstyearlist-backevent-btnbox:hover {
    background-color: #0342B2;
    color: #fff;
}
.firstyearlist-backevent-btn:hover{
    color: #fff;
}
/* ----------------- */
.firstyearlist-eventDetails-box{
    padding: 1% 0%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 3px;
    padding-bottom: 1%;
    border-bottom: 1px solid gray;
}



/* -------------- */
.firstyearlist-addeventForm{
    width: 96%;
    /* height: 100vh; */
    background-color: whitesmoke;
    opacity: 0.9;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 2%;
    display: flex;
    flex-direction: column;
}
.firstyearlist-addeventformH2{
    font-weight: 500;
    font-size: 20px;
}
.firstyearlist-addeventformH4{
    font-weight: 500;
    font-size: 18px;
    color: black;
    opacity: 90%;
    
}

/* EventTable.css */
.firstyearlist-attendee-table {
    width: 100%;
    border-collapse: collapse;
    margin: 3% 0;
    font-size: 12px;
    text-align: left;
    table-layout: fixed;
    font-weight: normal;
    background-color: transparent; 
    color: black;
  }
  
  .firstyearlist-attendee-table th, .firstyearlist-attendee-table td {
    padding: 10px 12px;
    /* border: 1px solid #444; */
    word-wrap: break-word;
    overflow-wrap: break-word; /* Ensures compatibility */
    white-space: normal; /* Allows text to wrap */
  }
  
  .firstyearlist-attendee-table thead tr {
    background-color: #fff;
    border-bottom: 1px solid gray;
  }
  
  .firstyearlist-attendee-table tbody tr{
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .firstyearlist-attendee-table tbody tr:hover {
    background-color: #1461e6;
    color: white;
    transform: scale(1.05); /* Slight zoom */
  }
  
  .firstyearlist-attendee-table th {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  
  @media (max-width: 720px) {
    .firstyearlist-attendee-table {
      font-size: 14px;
    }
  
    .firstyearlist-attendee-table th, .firstyearlist-attendee-table td {
      padding: 10px;
    }
  }
/* -------status---
.firstyearlist-status-approved {
    color: green;
    font-weight: bold;
  }
  
  .firstyearlist-status-notapproved {
    color: red;
    font-weight: bold;
  }
  
  .firstyearlist-status-default {
    color: black;
  } */

  .firstyearlist-updatebtn, .firstyearlist-deletebtn{
    border: 1px solid grey;
    cursor: pointer;
    margin: 3%;
    font-size: 10px;
    padding: 6% 4%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .firstyearlist-updatebtn{
    background-color: white;
    color: black;
  }
  .firstyearlist-deletebtn{
    background-color: black;
    color: white;
  }
  .firstyearlist-deletebtn:hover{
    background-color: red;
    color: white;
  }
  .firstyearlist-updatebtn:hover{
    background-color: yellow;
    color: black;
  }



  

